/* ==========GLOBAL============ */
/* ============================ */
/* ============================ */
/* ============================ */

:root {
    font-size: 62.5%;
}

html {
    /* width: 100%;
    height: 100%; */
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

ul,
li {
    list-style: none;
}

a,
button,
i {
    cursor: pointer;
    text-decoration: none;
}

p {
    line-height: 1.5;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    width: 100%;
}

.padding20 {
    padding: 2rem;
}



/* ==========TYPOGRAPHY============ */
/* ================================ */
/* ================================ */
/* ================================ */

@import url(https://fonts.googleapis.com/css2?family=Roboto);
@import url(https://fonts.googleapis.com/css2?family=Montserrat);
@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker);

body {
    font-family: 'Lato';
    color: white;
    text-shadow: 2px 2px 2px rgb(0, 1, 61), -2px 2px 2px rgb(0, 1, 61), 2px -2px 2px rgb(0, 1, 61), 1px 2px 2px rgb(0, 1, 61), 2px 1px 2px rgb(0, 1, 61), -1px 2px 2px rgb(0, 1, 61), 2px -1px 2px rgb(0, 1, 61), 1px -2px 2px rgb(0, 1, 61), -2px 1px 2px rgb(0, 1, 61), -1px -2px 2px rgb(0, 1, 61), -2px -1px 2px rgb(0, 1, 61), 1px 1px 2px rgb(0, 1, 61), -1px -1px 2px rgb(0, 1, 61), -1px 1px 2px rgb(0, 1, 61), 1px -1px 2px rgb(0, 1, 61), 0px 2px 2px rgb(0, 1, 61), 2px 0px 2px rgb(0, 1, 61), -2px 0px 2px rgb(0, 1, 61), 0px -2px 2px rgb(0, 1, 61), 0px 1px 2px rgb(0, 1, 61), 1px 0px 2px rgb(0, 1, 61), 0px -1px 2px rgb(0, 1, 61), -1px 0px 2px rgb(0, 1, 61), 0px 0px 2px rgb(0, 1, 61), 5px 5px 10px black;
}

#home-title {
    font-family: 'Monday Routines';
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
    font-family: 'Dancing Script';
    font-weight: 900;
}

h1 {
    font-size: clamp(6rem, 5.3vw, 8rem);
}

h2 {
    font-size: clamp(4rem, 4.4vw, 7rem);
}

h3 {
    font-size: clamp(2.8em, 2.7vw, 5rem);
}

h4,
h5,
h6,
p,
li,
a {
    font-size: clamp(1.8rem, 1.8vw, 3rem);
}


/* ==========BASE============ */
/* ========================== */
/* ========================== */
/* ========================== */

body {
    background-image: url('../assets/images/background4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.header {
    display: flex;
}

.logo {
    width: 10rem;
    height: auto;
}

.logo-cont {
    width: 100%;
    text-align: right;
    padding: 2rem 3rem;
}

.nav-menu-btn-cont {
    display: flex;
    align-items: center;
    padding-left: 3rem;
}

.nav-menu-btn,
.nav-menu-exit-btn,
.exit-btn,
.goback-btn,
.goback-btn2 {
    font-size: clamp(3rem, 3.7vw, 6rem);
}

.home-title-cont {
    text-align: center;
    padding: 5rem;
}

#home-title {
    color: yellow;
}

.home-main-p-cont {
    text-align: center;
    width: 50%;
    margin-left: 50%;

}

.home-main-p {
    padding-right: 3rem;
}

.nav-menu-cont {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 25%;
    height: 100vh;
    display: none;
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.nav-menu-exit-btn-cont,
.exit-cont {
    text-align: right;
}

.nav-menu-exit-btn,
.exit-btn,
.goback-btn,
.goback-btn2 {
    padding: 3rem;
}

.nav-menu-exit-btn:hover,
.nav-menu-btn:hover,
.exit-btn:hover,
.goback-btn:hover,
.goback-btn-cont:hover,
.goback-btn-cont2:hover {
    color: yellow;
    text-shadow: 2px 2px 2px rgb(0, 1, 61), -2px 2px 2px rgb(0, 1, 61), 2px -2px 2px rgb(0, 1, 61), 1px 2px 2px rgb(0, 1, 61), 2px 1px 2px rgb(0, 1, 61), -1px 2px 2px rgb(0, 1, 61), 2px -1px 2px rgb(0, 1, 61), 1px -2px 2px rgb(0, 1, 61), -2px 1px 2px rgb(0, 1, 61), -1px -2px 2px rgb(0, 1, 61), -2px -1px 2px rgb(0, 1, 61), 1px 1px 2px rgb(0, 1, 61), -1px -1px 2px rgb(0, 1, 61), -1px 1px 2px rgb(0, 1, 61), 1px -1px 2px rgb(0, 1, 61), 0px 2px 2px rgb(0, 1, 61), 2px 0px 2px rgb(0, 1, 61), -2px 0px 2px rgb(0, 1, 61), 0px -2px 2px rgb(0, 1, 61), 0px 1px 2px rgb(0, 1, 61), 1px 0px 2px rgb(0, 1, 61), 0px -1px 2px rgb(0, 1, 61), -1px 0px 2px rgb(0, 1, 61), 0px 0px 2px rgb(0, 1, 61), 5px 5px 10px white;
}

.nav-menu {
    text-align: center;
}

.nav-link {
    padding: 3rem 0;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    margin-top: 0px;
    border-radius: 1.2rem;
    font-weight: 900;
    cursor: pointer;
    text-shadow: none;
    color: #1ceaea;
    letter-spacing: 0.05rem;
    text-shadow: 2px 2px 2px rgb(0, 1, 61), -2px 2px 2px rgb(0, 1, 61), 2px -2px 2px rgb(0, 1, 61), 1px 2px 2px rgb(0, 1, 61), 2px 1px 2px rgb(0, 1, 61), -1px 2px 2px rgb(0, 1, 61), 2px -1px 2px rgb(0, 1, 61), 1px -2px 2px rgb(0, 1, 61), -2px 1px 2px rgb(0, 1, 61), -1px -2px 2px rgb(0, 1, 61), -2px -1px 2px rgb(0, 1, 61), 1px 1px 2px rgb(0, 1, 61), -1px -1px 2px rgb(0, 1, 61), -1px 1px 2px rgb(0, 1, 61), 1px -1px 2px rgb(0, 1, 61), 0px 2px 2px rgb(0, 1, 61), 2px 0px 2px rgb(0, 1, 61), -2px 0px 2px rgb(0, 1, 61), 0px -2px 2px rgb(0, 1, 61), 0px 1px 2px rgb(0, 1, 61), 1px 0px 2px rgb(0, 1, 61), 0px -1px 2px rgb(0, 1, 61), -1px 0px 2px rgb(0, 1, 61), 0px 0px 2px rgb(0, 1, 61), 5px 5px 10px black;
}

#home:hover {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.nav-link:hover {
    background-color: #1ceaea;
    color: yellow;
    box-shadow: inset 0 0 2rem black;

}

.dash {
    display: none;
}

.selected {
    border-radius: 1.2rem;
    cursor: pointer;
    background: #1ceaea;
    color: yellow;
    backdrop-filter: none;
    box-shadow: inset 0 0 2rem black;
}


footer {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
}

#copy {
    position: fixed;
    bottom: 1rem;
    left: 3rem;
    text-shadow: none;
}

.social-cont {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 3rem;
}

.soci {
    padding: 2rem 1rem;
    color: white;
}

.soci:hover {
    transform: translate(-0.5rem, -0.5rem);
    color: yellow;
    text-shadow: 2px 2px 2px rgb(0, 1, 61), -2px 2px 2px rgb(0, 1, 61), 2px -2px 2px rgb(0, 1, 61), 1px 2px 2px rgb(0, 1, 61), 2px 1px 2px rgb(0, 1, 61), -1px 2px 2px rgb(0, 1, 61), 2px -1px 2px rgb(0, 1, 61), 1px -2px 2px rgb(0, 1, 61), -2px 1px 2px rgb(0, 1, 61), -1px -2px 2px rgb(0, 1, 61), -2px -1px 2px rgb(0, 1, 61), 1px 1px 2px rgb(0, 1, 61), -1px -1px 2px rgb(0, 1, 61), -1px 1px 2px rgb(0, 1, 61), 1px -1px 2px rgb(0, 1, 61), 0px 2px 2px rgb(0, 1, 61), 2px 0px 2px rgb(0, 1, 61), -2px 0px 2px rgb(0, 1, 61), 0px -2px 2px rgb(0, 1, 61), 0px 1px 2px rgb(0, 1, 61), 1px 0px 2px rgb(0, 1, 61), 0px -1px 2px rgb(0, 1, 61), -1px 0px 2px rgb(0, 1, 61), 0px 0px 2px rgb(0, 1, 61), 5px 5px 10px white;

}

.modal {
    z-index: 3;
    width: 90vw;
    height: 90vh;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.2rem;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    display: none;
    text-align: center;
}

.modal-title-cont {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 3rem;
    transform: translate(-50%);
}

.modal-title-cont h2 {
    color: yellow;
}

.bio-cont {
    text-align: center;
}

.bio-p {
    padding: 3rem;
}

.certs-cont,
.bio-cont {
    display: none;
    display: flex;
    position: absolute;
    top: 0;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    background-image: url('../assets/images/background4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.certs {
    padding: 3rem;
}

.certs li {
    font-family: 'Lato';
    line-height: 1.5;
}

.sub-title-cont h3 {
    text-align: center;
    padding: 1rem;
}

hr {
    width: 50%;
}


.modal-btns {
    padding: 1rem 3rem;
    margin-bottom: 1rem;
    border-radius: 0.8rem;
    background-color: yellow;
    box-shadow: inset 0 0 2rem black;
}

.modal-btns:hover {
    background-color: #1ceaea;
}

.goback-btn-cont,
.goback-btn-cont2 {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 0;
    left: 50%;
    justify-content: center;
    align-items: center;
    transform: translate(-50%);

}

.goback-btn-cont:hover,
.goback-btn-cont2:hover {
    cursor: pointer;
    color: yellow;
}

.goback-btn,
.goback-btn2 {
    padding-right: 1rem;
}

.box-cont {
    margin: 1rem;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 1.2rem;
}

.skills-cont {
    padding-bottom: 1rem;
}

.contact-icon-cont {
    display: flex;
    justify-content: center;
}

.contact-icons {
    padding: 3rem 4rem;
}


.contact-icons h3 {
    padding: 0 0 1rem 0;
}

.contact-social-cont {
    /* position: fixed;
    bottom: 1rem;
    right: 0; */
}

.contact-all-social-cont {
    position: fixed;
    bottom: 1rem;
    right: 0;
}

.popup-cont {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 1.2rem;
    display: none;
    text-align: center;
    color: yellow;
    z-index: 7;
}

.popup-cont h2 {
    padding: 3rem 3rem 7rem 3rem;
    
}

.popup-exit-btn {
    color: white;
}

.popup-social-cont {
    position: fixed;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    padding: 3rem;
}

.contact-icons:hover {
    color: yellow;
    transform: translate(-0.5rem, -0.5rem);
    cursor: pointer;
}

.email-me-link-cont {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 1.2rem;
}

.selected {
    background-color: #1ceaea;
    color: yellow; 
    box-shadow: inset 0 0 2rem black;
}