/* ==========GLOBAL============ */
/* ============================ */
/* ============================ */
/* ============================ */

:root {
    font-size: 62.5%;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

ul,
li {
    list-style: none;
}

a,
button,
i {
    cursor: pointer;
    text-decoration: none;
}

p {
    line-height: 1.5;
}

.wrapper {
    width: 100%;
}

/* ==========TYPOGRAPHY============ */
/* ================================ */
/* ================================ */
/* ================================ */


body {
    color: white;
}



/* ==========BASE============ */
/* ========================== */
/* ========================== */
/* ========================== */

body {
    background-image: url('../assets/images/background4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.header {
    display: flex;
}

.logo {
    width: clamp(5rem, 7.5vw, 11rem);
    height: auto;
}

.logo-cont {
    width: 100%;
    text-align: right;
    padding: 2rem 3rem;
}

.nav-menu-btn-cont {
    display: flex;
    align-items: center;
    padding-left: 3rem;
}


.home-title-cont {
    text-align: center;
    padding: 0 5rem 7rem 5rem;
}

#home-title {
    color: yellow;
}

.home-main-p-cont {
    text-align: center;
    width: 100%;
    /* margin-left: 50%; */

}

.home-main-p {
    padding-right: 7rem;
    width: 100%;
}

.nav-menu-cont {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 25%;
    height: 100vh;
    display: none;
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.nav-menu-exit-btn-cont,
.exit-cont {
    text-align: right;
}

.nav-menu-exit-btn,
.exit-btn,
.goback-btn,
.goback-btn2 {
    padding: 1rem;
}

.nav-menu-exit-btn:hover,
.nav-menu-btn:hover,
.exit-btn:hover,
.goback-btn:hover,
.goback-btn-cont:hover,
.goback-btn-cont2:hover {
    color: yellow;
}

.nav-menu {
    text-align: center;
}

.nav-menu ul {
    padding-top: 3rem;
}

.nav-link {
    padding: 3rem 0;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    margin-top: 0px;
    border-radius: 1.2rem;
    font-weight: 900;
    cursor: pointer;
    text-shadow: none;
    color: #1ceaea;
    letter-spacing: 0.05rem;
    text-shadow: 2px 2px 2px rgb(0, 1, 61), -2px 2px 2px rgb(0, 1, 61), 2px -2px 2px rgb(0, 1, 61), 1px 2px 2px rgb(0, 1, 61), 2px 1px 2px rgb(0, 1, 61), -1px 2px 2px rgb(0, 1, 61), 2px -1px 2px rgb(0, 1, 61), 1px -2px 2px rgb(0, 1, 61), -2px 1px 2px rgb(0, 1, 61), -1px -2px 2px rgb(0, 1, 61), -2px -1px 2px rgb(0, 1, 61), 1px 1px 2px rgb(0, 1, 61), -1px -1px 2px rgb(0, 1, 61), -1px 1px 2px rgb(0, 1, 61), 1px -1px 2px rgb(0, 1, 61), 0px 2px 2px rgb(0, 1, 61), 2px 0px 2px rgb(0, 1, 61), -2px 0px 2px rgb(0, 1, 61), 0px -2px 2px rgb(0, 1, 61), 0px 1px 2px rgb(0, 1, 61), 1px 0px 2px rgb(0, 1, 61), 0px -1px 2px rgb(0, 1, 61), -1px 0px 2px rgb(0, 1, 61), 0px 0px 2px rgb(0, 1, 61), 5px 5px 10px black;
}

#home:hover {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.nav-link:hover {
    background-color: #1ceaea;
    color: yellow;
    box-shadow: inset 0 0 2rem black;

}

.selected {
    border-radius: 1.2rem;
    cursor: pointer;
    background: #1ceaea;
    color: yellow;
    backdrop-filter: none;
    box-shadow: inset 0 0 2rem black;
}


footer {
    position: absolute;
    bottom: 3rem;
    display: flex;
    width: 100%;
}

#copy {
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    text-shadow: none;
}

.social-cont {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 3rem;
}

.soci {
    padding: 2rem 1rem;
    color: white;
}

.soci:hover {
    transform: translate(-0.5rem, -0.5rem);
    color: yellow;
}

.modal {
    z-index: 3;
    width: 85%;
    height: 95%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.2rem;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal-title-cont {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 3rem;
    transform: translate(-50%);
}

.modal-title-cont h2 {
    color: yellow;
}



.bio-cont {
    text-align: center;
}

.bio-p {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    padding: 3rem;
    width: 90vw;
}

.about-boxes-cont {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
}

.certs-cont,
.bio-cont,
.certs-mobile-cont {
    display: none;
    position: absolute;
    top: 0;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    background-image: url('../assets/images/background4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.certs {
    padding: 3rem;
}

.certs li {
    line-height: 1.5;
}

.sub-title-cont h3 {
    text-align: center;
    padding: 1rem;
}

hr {
    width: 50%;
}


.modal-btns {
    padding: 1rem 3rem;
    margin-bottom: 1rem;
    border-radius: 0.8rem;
    background-color: yellow;
    box-shadow: inset 0 0 2rem black;
}

.modal-btns:hover {
    background-color: #1ceaea;
}

/* .goback-btn-cont,
.goback-btn-cont2 {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 0;
    left: 50%;
    justify-content: center;
    align-items: center;
    transform: translate(-50%);

} */

.goback-btn-cont:hover,
.goback-btn-cont2:hover {
    cursor: pointer;
    color: yellow;
}

.goback-btn,
.goback-btn2 {
    padding-right: 1rem;
}

.box-cont {
    margin: 2rem 1rem;
    background: rgb(170, 19, 66);
    backdrop-filter: blur(10px);
    border: 2px solid #00013d;
    box-shadow: inset 0 0 100px  #1ceaea, 5px 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 1.2rem;
    width: 100%;
    height: 100%;
}

.skills-cont {
    padding-bottom: 1rem;
}

.contact-icon-cont {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.contact-icons {
    padding: 3rem 2rem;
}


.contact-icons h3 {
    padding: 0 0 1rem 0;
    white-space: nowrap;
}


.contact-social-cont {
    /* position: fixed;
    bottom: 1rem;
    right: 0; */
    position: relative;
    z-index: 8;
}

.contact-all-social-cont {
    position: fixed;
    bottom: 1rem;
    right: 0;
    z-index: 8;
}

.popup-cont {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 1.2rem;
    display: none;
    text-align: center;
    color: yellow;
    z-index: 7;
}

.popup-cont h2 {
    padding: 3rem 3rem 7rem 3rem;

}

.popup-exit-btn {
    color: white;
}

.popup-social-cont {
    position: fixed;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    padding: 3rem;
}

.contact-icons:hover {
    color: yellow;
    transform: translate(-0.5rem, -0.5rem);
    cursor: pointer;
}

.links-cont {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 1, 61, 0.9);
    border-radius: 1.2rem;
    width: 50vw;
    height: 50vh;
    z-index: 15;

}

.exit-btn {
    padding: 1rem;
}

.write-me-link-cont {
    padding: 1rem;
    background-color: #00013d;
}

.write-me-form-cont {}

.write-me-exit-btn {
    padding: 0;
}

input,
textarea {
    margin-bottom: 1rem;
    border-radius: 0.6rem;
}

input:focus,
textarea:focus,
#myPhoneInput:focus {
    box-shadow: 0 0 0 1px yellow;
}

#submit {
    background-color: #1ceaea;
    border: 2px solid transparent;
}

#submit:hover {
    border: 2px solid yellow;
}





.selected {
    background-color: #1ceaea;
    color: yellow;
    box-shadow: inset 0 0 2rem black;
}


.move-slides-btns {
    display: flex;
    align-items: center;
}

.next,
.prev {
    margin: 0;
    position: absolute;
    z-index: 6;
    /* top: 25%; */
}

.next {
    right: 0;
}

.prev {
    left: 0;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* SLIDESHOW */

/* Slideshow container */
.slideshow-container {
    min-width: 50vw;
    height: auto;
    max-width: 1000px;
    position: absolute;
    margin: 4rem 0;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
}

.dot-cont {
    /* position: absolute; */
}

.move-slides-btns {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    margin: 0 2rem;
    color: white;
    font-weight: bold;
    user-select: none;
    border: 2px solid transparent;
}

/* Position the "next button" to the right */
.next {
    margin-left: 50%;
    right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: yellow;
}

/* Caption text */
.text {
    color: #f2f2f2;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    z-index: 10;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #00013d;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: yellow;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slide-img {
    position: relative;
    z-index: 5;
    border: 2px solid transparent;
    border-radius: 1.2rem;
}

.slide-img:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    border: 2px solid yellow;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 1.6rem;
    }

}

@media screen and (max-width: 850px) {
    .nav-menu-cont {
        width: 40%;
    }
}

@media screen and (max-width: 450px) {
    .nav-menu-cont {
        width: 100%;
    }
}

@media screen and (max-width: 560px) {
    #copy {
        display: none;
    }

    .social-cont {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        padding-right: 0;
    }
}

@media screen and (max-width: 650px) {
    .home-main-p-cont {
        /* width: 70%;
        margin-left: 25%; */
    }

    .slideshow-container {
        min-width: 85vw;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
        /* transform: rotate(-90deg); */
        /* transform-origin: left top; */
        width: 100vw;
        height: 100%;
        overflow-x: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.please-rotate {
    /* display: none; */
    background-color: rgb(0, 1, 61);
    color: yellow;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;

}



@media screen and (orientation: landscape) {
    .please-rotate {
        /* display: flex; */
        /* display: none; */
        /* justify-content: center; */
        /* align-items: center;  */

    }

}

.skill-modals {
    display: none;

}

@media screen and (max-width: 440px) {
    .contact-all-social-cont {
        position: absolute;
        left: 0;
        bottom: 1rem;
        display: flex;
    }

    .soci-title {
        display: none;
    }

    .contact-icons {
        padding: 2rem 0;
    }

    .contact-social-cont {
        display: flex;
        justify-content: space-evenly;
        padding-top: 2rem;
    }

    .soci1 {
        width: 3vw;
        padding: 2rem 1rem;
        width: auto;
    }

}

@media screen and (max-width: 420px) and (min-height: 720px) {
    .contact-social-cont {
        padding-top: 10rem;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-image: url('../assets/images/lg-bcground.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    p {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 550px) {
    body {
        background-image: url('../assets/images/mobile-bcground.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}


.certs-mobile-cont {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    background-color: rgba(0, 1, 61, 0.8);
    text-align: center;
}

.certs-mobile-cont h3 {
    padding: 2rem 1rem 0.5rem 1rem;
    font-size: 2.2rem;
}

.certs-mobile-cont button {
    padding: 1rem 2rem;
}

.certs-mobile-list {
    display: none;
}

.certs-cont {
    justify-content: center;
}

.certs li a {
    font-size: 1.4rem;
}

/* .goback-btn-cont {
    position: relative;
} */

.pc-certs-exit-btn-cont,
.mobile-certs-exit-btn-cont,
.bio-exit-btn-cont {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.call-btn,
.copy-btn,
.email-btn,
.mobile-view-btn {
    /* border: 2px solid transparent; */
    border-radius: 0.6rem;
    background-color: #1ceaea;
    box-shadow: inset 0 0 10px black;
}

.copy-btn {
    font-size: clamp(1.8rem, 1.8vw, 3rem);
    color: -webkit-link;
}

.call-btn:hover,
.copy-btn:hover,
.email-btn:hover,
.mobile-view-btn:hover {
    background-color: yellow;
    border: 2px solid yellow;
}

#myPhoneInput,
#myEmailInput {
    font-size: 1.6rem;
    text-align: center;
    outline: none;
}

.or {
    /* padding: 1rem; */
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.certs-mobile-modal-cont {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 60vh;
    background-color: rgba(0, 1, 61, 0.8);
    border-radius: 1.2rem;
    display: none;
}

.mobile-list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}

.certs-mobile-exit-btn-cont {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.certs-mobile-list li {
    padding: 1rem;
}

.certs-mobile-list li a {
    color: white;
}

.mobile-certs-group3 {
    position: absolute;
    bottom: 3rem;
    left: 0;
    width: 100%;
}

.click-li {
    color: yellow;
}

.knowledge-skills-cont {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

.knowledge-icon-cont {
    color: #bf3d4a;
    padding: 0.5rem;
}

.knowledge-exit-btn-cont {
    width: 100%;
}

.form-cont {
    text-align: center;
    height: 80vh;
    width: 70vw;
    background-color: rgba(0, 1, 61, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.2rem;
}

.form-page {
    text-align: center;
}

.form-input {
    margin: 1rem;
}

.red,
.error {
    color: #bf3d4a;
    text-shadow: none;
}

.error {
    position: relative;
}

label {
    text-shadow: none;
    font-weight: 900;
}

label,
input {
    font-size: 1.6rem;
}

textarea {
    margin-top: 0;
}



#email {
    margin-bottom: 5rem;
}

.form-title,
#submit {
    padding: 2rem 2rem 4rem 2rem;
    color: #bf3d4a;
    font-size: clamp(2.4rem, 6.8vw, 3.6rem);
}

#submit {
    font-size: 2.4rem;
    padding: 0.5rem 3rem;
    box-shadow: inset 0 0 10px black;
}

.demo-p {
    padding: 3rem;
}

/* ==========FONT FAMILIES/ TYPOGRAPHY============ */
/* =============================================== */
/* =============================================== */
/* =============================================== */

#home-title {
    font-family: 'Monday Routines';
}

body,
.certs-mobile-list li,
.certs li {
    font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
#submit {
    font-family: 'Dancing Script';
    font-weight: 900;
}

/* -----FONT SIZE--------- */

h1 {
    font-size: clamp(6rem, 5.3vw, 8rem);
}

h2 {
    font-size: clamp(4rem, 4.4vw, 7rem);
}

h3 {
    font-size: clamp(2.8em, 2.7vw, 5rem);
}

h4,
h5,
h6,
p,
li,
a {
    font-size: clamp(1.8rem, 1.8vw, 3rem);
}

.nav-menu-btn,
.nav-menu-exit-btn,
.exit-btn,
.goback-btn,
.goback-btn2 {
    font-size: clamp(3rem, 3.7vw, 6rem);
}

.contact-icons h3 {
    font-size: clamp(2rem, 1.75vw, 2.8rem);
}

.card-icon {
    font-size: clamp(6rem, 7.3vw, 11rem);
}

.prev,
.next {
    font-weight: bold;
    font-size: 1.8rem;
}

.text {
    font-size: 2rem;
}

.please-rotate {
    font-size: 7rem;
}
/* ==========TEXT SHADOWS/TEXT OUTLINES============ */
/* ================================================ */
/* ================================================ */
/* ================================================ */


#submit,
.form-title,
.knowledge-icon-cont,
.please-rotate {
    text-shadow: 2px 2px 2px #1ceaea, -2px 2px 2px #1ceaea, 2px -2px 2px #1ceaea, 1px 2px 2px #1ceaea, 2px 1px 2px #1ceaea, -1px 2px 2px #1ceaea, 2px -1px 2px #1ceaea, 1px -2px 2px #1ceaea, -2px 1px 2px #1ceaea, -1px -2px 2px #1ceaea, -2px -1px 2px #1ceaea, 1px 1px 2px #1ceaea, -1px -1px 2px #1ceaea, -1px 1px 2px #1ceaea, 1px -1px 2px #1ceaea, 0px 2px 2px #1ceaea, 2px 0px 2px #1ceaea, -2px 0px 2px #1ceaea, 0px -2px 2px #1ceaea, 0px 1px 2px #1ceaea, 1px 0px 2px #1ceaea, 0px -1px 2px #1ceaea, -1px 0px 2px #1ceaea, 0px 0px 2px #1ceaea, 5px 5px 10px black;
}

.soci:hover,
.nav-menu-exit-btn:hover,
.nav-menu-btn:hover,
.exit-btn:hover,
.goback-btn:hover,
.goback-btn-cont:hover,
.goback-btn-cont2:hover {
    text-shadow: 2px 2px 2px rgb(0, 1, 61), -2px 2px 2px rgb(0, 1, 61), 2px -2px 2px rgb(0, 1, 61), 1px 2px 2px rgb(0, 1, 61), 2px 1px 2px rgb(0, 1, 61), -1px 2px 2px rgb(0, 1, 61), 2px -1px 2px rgb(0, 1, 61), 1px -2px 2px rgb(0, 1, 61), -2px 1px 2px rgb(0, 1, 61), -1px -2px 2px rgb(0, 1, 61), -2px -1px 2px rgb(0, 1, 61), 1px 1px 2px rgb(0, 1, 61), -1px -1px 2px rgb(0, 1, 61), -1px 1px 2px rgb(0, 1, 61), 1px -1px 2px rgb(0, 1, 61), 0px 2px 2px rgb(0, 1, 61), 2px 0px 2px rgb(0, 1, 61), -2px 0px 2px rgb(0, 1, 61), 0px -2px 2px rgb(0, 1, 61), 0px 1px 2px rgb(0, 1, 61), 1px 0px 2px rgb(0, 1, 61), 0px -1px 2px rgb(0, 1, 61), -1px 0px 2px rgb(0, 1, 61), 0px 0px 2px rgb(0, 1, 61), 5px 5px 10px white;
}

body {
    text-shadow: 2px 2px 2px rgb(0, 1, 61), -2px 2px 2px rgb(0, 1, 61), 2px -2px 2px rgb(0, 1, 61), 1px 2px 2px rgb(0, 1, 61), 2px 1px 2px rgb(0, 1, 61), -1px 2px 2px rgb(0, 1, 61), 2px -1px 2px rgb(0, 1, 61), 1px -2px 2px rgb(0, 1, 61), -2px 1px 2px rgb(0, 1, 61), -1px -2px 2px rgb(0, 1, 61), -2px -1px 2px rgb(0, 1, 61), 1px 1px 2px rgb(0, 1, 61), -1px -1px 2px rgb(0, 1, 61), -1px 1px 2px rgb(0, 1, 61), 1px -1px 2px rgb(0, 1, 61), 0px 2px 2px rgb(0, 1, 61), 2px 0px 2px rgb(0, 1, 61), -2px 0px 2px rgb(0, 1, 61), 0px -2px 2px rgb(0, 1, 61), 0px 1px 2px rgb(0, 1, 61), 1px 0px 2px rgb(0, 1, 61), 0px -1px 2px rgb(0, 1, 61), -1px 0px 2px rgb(0, 1, 61), 0px 0px 2px rgb(0, 1, 61), 5px 5px 10px black;
}